.ayuda-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.ayuda-container h1 {
  text-align: center;
  color: #ad8a1f;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.faq-section {
  margin-bottom: 30px;
}

.faq-section h2 {
    color: #ad8a1f;  font-size: 1.8rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.faq-section ul {
  list-style: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 20px;
  cursor: pointer;
}

.faq-question h3 {
  color: #222;
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.faq-question h3:hover {
  background-color: #e0e0e0;
}

.faq-answer {
  color: #666;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px;
}
