.colaboraciones-tienda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    margin: 20px auto;
}

.colaboraciones-tienda-header h1{
    background-color: white;
    width: 300px;
    text-align: center;
    color: #ad8a1f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.lista-zapatillas-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    justify-items: center;
}

.caja-zapatillas-tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caja-zapatillas-tienda:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.caja-zapatillas-tienda img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.caja-zapatillas-tienda h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 10px 0 0;
    text-align: center;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #ad8a1f;
    margin-top: 5px;
}
