.contenedor-buscador {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.input-con-icono {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.input-buscador {
  padding: 8px 16px; 
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 100px;
  width: 200px;
}

.icono-lupa {
  position: absolute;
  right: 16px;
  color: #ccc;
  font-size: 20px;
  pointer-events: none;
}
